# API Keys
OPENAI_API_KEY=your_openai_key_here
BPS_API_KEY=your_bps_webapi_key_here

# Database
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/bps_chatbot

# Model Configurations
EMBEDDING_MODEL=text-embedding-3-small
LLM_MODEL=gpt-4o-mini